.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1em 1em;
  .link {
    text-decoration: none;
    color: inherit;
  }
  .colour {
    cursor: pointer;
  }
}
