.menu {
  display: flex;
  align-items: center;
  padding: 0 8%;
  .link {
    text-decoration: none;
    color: inherit;
  }
}

.nav {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  font-size: 2rem;
}

.reseau {
  font-size: 0.8rem;
  li {
    padding: 0.4em 0;
  }
}

.reseau__title {
  padding: 1em 0;
  font-weight: 700;
}
